---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="post-list">
       <ul>
      {% for post in site.posts %}
      {% capture currentdate %}{{post.date | date: "%A, %B %d, %Y"}}{% endcapture %}
      {% if currentdate != thedate %}
        </ul><h3>{{ currentdate }}</h3><ul>
        {% capture thedate %}{{currentdate}}{% endcapture %} 
      {% endif %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

  </div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
